.container {
    width: 500px;
    max-height: 500px;
    margin: 10px;
    border: 1px solid #fff;
    background-color: #ffffff;
    box-shadow: 0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.content,
.header,
.footer {
    padding: 5px;
    height: 100%; 
}
.content {
    margin-top: 0;
    overflow: auto;
    padding-bottom:550px;
    min-height: 100%; 
    height: auto !important; /*Cause footer to stick to bottom in IE 6*/
    vertical-align:bottom;
}
.header {
    height: 40px;
    background-color: #ea4c88;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.footer {
    height: 40px;
    background-color: #ea4c88;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.img
{
margin:auto;
text-align:center;
}
