{% extends "base.html" %}
{% load i18n %}

{% block content %}
<br><br>
<h1><span class="blue">&lt;</span>Add New Song<span class="blue">&gt;</span></h1>
<br><br>
<div id="login">
<form method="post" action="." enctype="multipart/form-data">
  {% csrf_token %} 
  <fieldset class="clearfix">
    <p>Name<br><span class="fontawesome-music"></span><input type="text" id="name" name="name" required></p>
    <p>Movie<br><span class="fontawesome-play"></span><input type="text" id="movie" name ="movie"></p>
    <p>Artist<br><span class="fontawesome-group"></span><input type="text" id="artist" name="artist"></p>
    <br><br><br>
    <p>Scale/Key<br><span class="fontawesome-music"></span><input type="text" id="scale" name="scale"></p>
    <p>Notes<br><span class="fontawesome-music"></span><input type="file" id="notes" name="notes" required></p>
    <p>Tempo<br><span class="fontawesome-spinner"></span><input type="number" id="tempo" name="tempo"></p>
<!--    <p>Notation<br><span class="fontawesome-list-ul"></span><select id="notation" required><option value="indian">Indian</option><option value="western">Western</option>"</select></p> -->
    <br><br><br>
    <h2><b>Recordings and tutorial videos</b></h2> 
    <br>
    <div id="add_more" ></div>
    <a href="#!" id="filldetails" onclick="addFields(1);">Add...</a>
    <br><br><br>
    <input type="submit" value="{% trans 'Add' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
    <input type="hidden" name="count" value="0" id="form_count"/>
  </fieldset>
</form>
</div> <!-- end login -->
{% endblock %}
