{% load i18n %}
{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<meta charset="UTF-8">

<head>
<link rel="stylesheet" href="{% static "css/style.css" %}" media="screen" type="text/css" />
<link rel="stylesheet" href="{% static "css/base.css" %}" media="screen" type="text/css" />
<link rel="stylesheet" href="{% static "css/table.css" %}" media="screen" type="text/css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<title>{% block title %}My Melody Notebook{% endblock %}</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type='text/javascript'>

function addFields(){
	if(!addFields.count) {
		addFields.count=1;
		var link = document.getElementById("filldetails");
		link.text = "Add another...";
	}
	var form_count = document.getElementById("form_count");
	form_count.value = addFields.count;
	var container = document.getElementById("add_more");
	container.appendChild(document.createElement("br"));
	container.appendChild(document.createElement("br"));

	// Create an <input> element, set its type and name attributes
	container.appendChild(document.createTextNode("Name"));
	container.appendChild(document.createElement("br"));
	var icon_name = document.createElement("span");
	icon_name.class = "fontawesome-music";
	container.appendChild(icon_name);
	var ref_name = document.createElement("input");
	ref_name.type = "text";
	ref_name.id = "ref_name" + addFields.count;
	ref_name.name = "ref_name" + addFields.count;
	container.appendChild(ref_name);

	container.appendChild(document.createTextNode("Link"));
	container.appendChild(document.createElement("br"));
	var icon_url = document.createElement("span");
	icon_url.class = "fontawesome-music";
	container.appendChild(icon_url);
	var ref_url = document.createElement("input");
	ref_url.type = "url";
	ref_url.id = "ref_url" + addFields.count;
	ref_url.name = "ref_url" + addFields.count;
	container.appendChild(ref_url);

	container.appendChild(document.createTextNode("Comment"));
	container.appendChild(document.createElement("br"));
	var icon_comment = document.createElement("span");
	icon_comment.class = "fontawesome-music";
	container.appendChild(icon_comment);
	var ref_comment = document.createElement("input");
	ref_comment.type = "text";
	ref_comment.id = "ref_comment" + addFields.count;
	ref_comment.name = "ref_comment" + addFields.count;
	container.appendChild(ref_comment);

	container.appendChild(document.createTextNode("Category"));
	container.appendChild(document.createElement("br"));
	var icon_category = document.createElement("span");
	icon_category.class = "fontawesome-music";
	container.appendChild(icon_category);
	var ref_category = document.createElement("select");
	ref_category.id = "ref_category" + addFields.count;
	ref_category.name = "ref_category" + addFields.count;
	container.appendChild(ref_category);

	var option_o = document.createElement("option");
	option_o.value = 0;
	option_o.text = "Original";
	ref_category.appendChild(option_o);

	var option_t = document.createElement("option");
	option_t.value = 1;
	option_t.text = "Tutorial";
	ref_category.appendChild(option_t);

	var option_c = document.createElement("option");
	option_c.value = 2;
	option_c.text = "Cover";
	ref_category.appendChild(option_c);

	var option_y = document.createElement("option");
	option_y.value = 3;
	option_y.text = "Your recording";
	ref_category.appendChild(option_y);

	// Append a line break 
	container.appendChild(document.createElement("br"));

	addFields.count++;
}
</script>

</head>

<body>
<div id="container">
<div class="header">
{% block header %}
<p class="alignleft">
<a href="{% url 'home' %}"><span class="fontawesome-home">{% trans "My Melody Notebook" %}</a>
</p>
<p class="alignright">
<a href="{% url 'home' %}"><span class="fontawesome-home">{% trans "Home" %}</a> | 

{% if user.is_authenticated %}
{% trans "Logged in" %}: {{ user.username }} 
(<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> | 
 <a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>)
{% else %}
<a href="{% url 'auth_login' %}"><span class="fontawesome-group">{% trans "Log in" %}</a>
{% endif %}
</p>
{% endblock %}
</div>
<div style="clear: both;"></div>

<div class="content">
{% block content %}{% endblock %}
</div>

<div class="footer">
{% block footer %}
{% endblock %}
</div>
</div>
</body>

</html>
