{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if unallowed %}

{{ unallowed }}

{% else %}

<div id="login">
<form method="post" action="./{{song.id}}" enctype="multipart/form-data">
  {% csrf_token %} 
  <fieldset class="clearfix">
    <p>You want to delete the song {{song.name}}?<br><span class="fontawesome-list-ul"></span><select id="confirm" name="confirm" required><option value="0">No</option><option value="1">Yes</option>"</select></p>
    <br><br><br>
    <input type="submit" value="{% trans 'Submit' %}" />
  </fieldset>
</form>
</div> <!-- end login -->

{% endif %}

{% endblock %}
