{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if unallowed %}

{{ unallowed }}

{% else %}

<div class="promos">  
<div class="promo scale">
<div class="deal">
<span>{{song.name}}</span>
<span>{{song.movie}}</span>
</div>
<span class="price">{{song.scale}} Scale</span>
<ul class="features">
<li>Artist: {{song.artist}}</li>
<li>Tempo : {{song.tempo}}</li>
<li>Notes and references below...</li>   
</ul>
</div>
</div>
<br><br><br>
<div class="img">
<img src="http://127.0.0.1:8000/media/{{song.notes}}"  height="1080" width="720"/>
</div>

{% endif %}

{% endblock %}
