{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if validlink %}

<div id="login">
<form method="post" action=".">
  {% csrf_token %} 
  <fieldset class="clearfix">
    <p>New Password<br><span class="fontawesome-lock"></span>{{ form.new_password1 }}</p>
    <p>New Password (Confirm)<br><span class="fontawesome-lock"></span>{{ form.new_password2 }}</p>
  <input type="submit" value="{% trans 'Submit' %}" />
  </fieldset>
</form>

{% else %}

<p>{% trans "Password reset failed" %}</p>
</div> <!-- end login -->

{% endif %}

{% endblock %}
